---
layout: layouts/default.njk
---
{{ comp.ruleset_list({ current_page: url }) | safe }}

<h2>{{ title }}</h2>

<p>This applies to the <strong>{{ scope }}</strong> scope.</p>

{{ description | md | safe }}

{{ comp.dashboard({ current_ruleset: current_ruleset }) | safe }}
