---
layout: layouts/default.njk
---
{{ comp.ruleset_list({ current_page: url }) | safe }}

<h2>{{ scope_name }} {{ name }} ruleset</h2>

<p>This ruleset applies to the <strong>{{ scope_name }}</strong>.</p>

{{ description | md | safe }}

{{ comp.dashboard({ current_ruleset: current_ruleset }) | safe }}
