---
layout: layouts/default.njk
---
{{ comp.ruleset_list({ current_page: url }) | safe }}

<h2>{{ scope_name }} {{ name }} ruleset</h2>

<p>This ruleset applies to the <strong>{{ scope_name }}</strong>.</p>

{{ description | md | safe }}

<div class="padded info">
  <h3>Legend</h3>

  <p>The symbols and colours on the dashboard have the following meanings</p>

  {{ comp.legend() | safe }}
</div>

{{ comp.dashboard({ current_ruleset: current_ruleset }) | safe }}
