<p>
  The tool contains a model of the questions being posed (referred to as competencies).
  You can review these on <a href="{{ '~/evidence.njk' | url }}">the competencies page</a>.
</p>

<p>
  Competencies are linked to features of the register(s).
  This linkage defines the features required to answer the competency.
  Features are further linked to rulesets and scopes.
  You can review the defined features on <a href="{{ '~/features/index.njk' | url }}">the features page for a given scope</a>.
</p>

<p>
  Scopes provide a context for the result of the tool.
  Concrete examples of scopes are the <i>House of Commons</i> and <i>House of Lords</i>.
  These contexts differ as the features available in the respective Registers of Members' Financial Interests will differ.
  We also define an <i>Imagined</i> scope which contains features and rulesets used for testing and demonstration purposes.
</p>

<p>
  Finally, rulesets define a set of available features for a given scope.
  Competency answerability can be determined by cross-referencing the features required by the individual competency with the features provided by the ruleset.
  This is carried out in the context of a scope, as when considering answerability for the Commons, the dependency of a competency on a Lord features is irrelevant.

</p>

<p>
    The fundamental question this tool can answer is
</p>

<blockquote>
  <p>
    For a given ruleset, is a question...
  </p>
  {{ comp.legend() | safe }}
</blockquote>
