---
title: Competencies
url: /competencies/
---
<h2>{{ title }}</h2>
<p>
  This table is derived from the <a href="https://docs.google.com/spreadsheets/d/1iRsQBRPChMVFitSGBtNJFGNBvFT8XGKQYYqu40zy_OM/edit?usp=sharing">Google sheet entitled "Code of Conduct evidence"</a>. Rows marked in grey indicate duplicates.
</p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Competency</th>
      <th>Duplicate of</th>
      <th>RMFI Category</th>
    </tr>
  </thead>
  <tbody>
    {% for ev in evidence %}
    <tr class="competency{% if ev.Duplicates %} duplicate{% endif %}">
      <td>{{ ev.ID }}</td>
      <td>{{ ev.Competency }}</td>
      <td>{{ ev.Duplicates }}</td>
      <td>{{ ev["RMFI category"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

