<p>
  This prototype tool aims to demonstrate whether the current Register of Members' Financial Interests can 
  answer a set of questions collected during a recent review.
</p>

{% include "fragments/caveat.njk" %}

<h2>
  How it works
</h2>

{% include "fragments/overview.njk" %}

{{ comp.state_list() | safe }}
