---
css: |
  .competency-block {
    --colour-fg: #222;
    --colour-bg: #ddd;
    display: block;
    color: var(--colour-bg);
    background-color: var(--colour-fg);
    border: 2px solid var(--colour-bg);
    height: 100%;
    min-height: 5em;
    padding: 1em;
  }
  .competency-block:hover {
    color: var(--colour-fg);
    background-color: var(--colour-bg);
    border-color: var(--colour-fg);
  }
  .competency-block .value {
    font-size: 1.3em;
  }
  .competency-block[data-score] {
    --colour-fg: var(--indicator-scored);
  }
  .competency-block[data-score="1"] {
    --colour-fg: var(--indicator-answerable);
  }
  .competency-block[data-score="0"] {
    --colour-fg: var(--indicator-unanswerable);
  }
---
{%- macro get_dependencies(ID) -%}{{- competency[ID].dependencies | default([]) | join(",") -}}{%- endmacro -%}
{# Rules to knock out competencies #}
{% if
  details.Competency == undefined or
  competency[details.ID].duplicate_of
%}
  <!-- 
    Failed tests
    {{ details.ID }}
    details: {{ details | dump() | safe }}
    competency: {{ competency[details.ID] | dump() | safe }}
  -->
{% else %}
<li id="{{ details.ID }}" class="competency-block"
  data-auto-popup="{{ details.ID }}: {{ details.Competency }}"
  {{ comp.dependencies({ id: details.ID, current_state: current_state }) | safe }}
  >
  <p class="title">{{ details.Competency }}</p>
  {# NOT SURE WHAT THIS IS FOR - MAYBE REMOVE?
  {% if details.ID in dashboard.values %}
    <p class="value">
      {{ dashboard.values[details.ID] }}
      {{ competency[details.ID].value_postfix }}
    </p>
  {% endif %}
  #}
</li>
{% endif %}