---
css: |
  #navigation * + * {
    margin-top: 0;
  }
  #navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
---

<nav id="navigation">
  <ul>
    {% for title, link in nav_links %}
      <li><a href="{{ link | url }}">{{ title }}</a></li>
    {% endfor %}
  </ul>
</nav>