---
css: |
  .ruleset-list {
    display: flex;
    align-items: baseline;
    gap: 2em;
  }
  .ruleset-list > * {
    margin-top: 0;
  }
  #ruleset-list-title {
    flex-shrink: 0;
  }
  .ruleset-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 0.5em;
  }
  .ruleset-list li {
    margin-top: 0;
    background: #dfdfdf;
  }
  .ruleset-list li a {
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
  }
  .ruleset-list li.active {
    color: white;
    background: #2254F4;
  }
  .ruleset-list li:hover {
    color: #eee;
    background: #333;
  }
  .ruleset-list a {
    color: inherit;
  }
---
<div class="ruleset-list" aria-describedby="ruleset-list-title">
  <p id="ruleset-list-title">Defined rulesets:</p>
  <ul>
    {% for ruleset in search.pages('ruleset', 'order scope') | data %}
      <li class="{% if current_page == ruleset.url %}active{% endif %}"><a href="{{ ruleset.url }}">{{ ruleset.scope_name}}: {{ ruleset.name }}</a></li>
    {% endfor %}
  </ul>
</div>
