---
css: |
  .state-list {
    display: flex;
    align-items: baseline;
    gap: 2em;
  }
  .state-list > * {
    margin-top: 0;
  }
  #state-list-title {
    flex-shrink: 0;
  }
  .state-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 0.5em;
  }
  .state-list li {
    margin-top: 0;
    padding: 0.5em 1em;
    color: white;
    background: black;
  }
  .state-list li.active {
    background: blue;
  }
  .state-list li:hover {
    color: #eee;
    background: #333;
  }
  .state-list a {
    color: inherit;
  }
---
<div class="state-list" aria-describedby="state-list-title">
  <p id="state-list-title">Available States:</p>
  <ul>
    {% for state in search.pages('state') | data %}
      <li class="{% if current_page == state.url %}active{% endif %}"><a href="{{ state.url }}">{{ state.name }}</a></li>
    {% endfor %}
  </ul>
</div>
