---
css: |
  .state-list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 0.5em;
  }
  .state-list li {
    margin-top: 0;
    padding: 1em;
    color: white;
    background: black;
  }
  .state-list li:hover {
    color: #eee;
    background: #333;
  }
  .state-list a {
    color: inherit;
  }
---
<ul class="state-list">
  {% for state in search.pages('state') | data %}
    <li><a href="{{ state.url }}">{{ state.title }}</a></li>
  {% endfor %}
</ul>